<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li>
    <li class="nav-pencils" role="menuiten"><a href="{{site.baseurl}}tag/pencils/">Pencils</a></li>
    <li class="nav-leadholder" role="menuiten"><a href="{{site.baseurl}}tag/leadholder/">Leadholder</a></li>
    <li class="nav-programming" role="menuiten"><a href="{{site.baseurl}}tag/programming/">Programming</a></li>
    <li class="nav-writing" role="menuiten"><a href="{{site.baseurl}}tag/writing/">Writing</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tags</a>
    </li>
</ul>
