<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}/about/">About</a></li>
    <li class="nav-pencils" role="menuiten"><a href="{{site.baseurl}}tags/pencils/">Pencils</a></li>
    <li class="nav-leadholder" role="menuiten"><a href="{{site.baseurl}}tags/leadholder/">Leadholder</a></li>
    <li class="nav-programming" role="menuiten"><a href="{{site.baseurl}}tags/programming/">Programming</a></li>
    <li class="nav-writing" role="menuiten"><a href="{{site.baseurl}}tags/writing/">Writing</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/tags.html">Tags</a>
    </li>
</ul>
