<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}블로그-이름을-ecrire06으로-짓게-된-이유/">About</a></li>
    <li class="nav-pencils" role="menuiten"><a href="{{site.baseurl}}tag/pencils/">Pencils</a></li>
    <li class="nav-leadholder" role="menuiten"><a href="{{site.baseurl}}tag/leadholder/">Leadholder</a></li>
    <li class="nav-programming" role="menuiten"><a href="{{site.baseurl}}tag/programming/">Programming</a></li>
    <li class="nav-writing" role="menuiten"><a href="{{site.baseurl}}tag/writing/">Writing</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tags</a>
    </li>
</ul>
